numpy
scipy
pandas
pathlib
tensorboard
tensorflow==2.15.0
tensorflow-estimator
scikit-learn
scikit-image
scikit-fuzzy
hopsworks
joblib
flask
flask-cors
redis
celery
paho-mqtt
requests